[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
coveralls = "*"
black = "*"

[packages]
lark-parser = "*"

[requires]
python_version = "3.7"
